{% extends "base.html" %}


{% block title %}Create new Post | {{ block.super}}{% endblock title %}



{% block content %}
<br>
<br>
<div>
<div class="postform" name="hello" style="width: 70%; margin: auto; background: white; padding: 10px 10px 0px 10px; border-radius: 2px;">
<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
<h1>Create Post Form:</h1>
<hr>
<!--Post Title-->


<div style="padding-bottom: 10px; padding-top: 10px;">
<label>
    <h3><small><font color="black">Post Title:</font></small></h3>
    {{ form.post_title }}
</label>
</div>
<!--Post Content-->


<div style="padding-bottom: 5px;">
<label>
  <h3><small><font color="black">Post Content:</font></small></h3>
  {{ form.post_content }}

</label>
<hr>
</div>
<!--Post File-->
{{ form.post_image }}
<br>
<hr>
<!--Submit Post-->
<label>
<input name= "myfiles" type='submit' class='button' value='Create Post'/>
</label>
</form>
</div>
</div>

<br>
<br>





{% endblock content %} 
