{% extends "base.html" %}

{% block title %}{{ instance.post_title }} | {{ block.super}}{% endblock title %}

{% block content %}

<!--<div data-sticky-container> 
<a class="button primary sticky" data-sticky data-top-anchor="bigbox:top" data-btm-anchor="bigbox:bottom" onclick="goBack()" href="#"><i class="fi-arrow-left"></i> Back</a>
</div>-->
<div id="navbar-top" style="width: 100%;">
</div>

<div data-sticky-container id="navbar"> 
<div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a href="/"><b><font color="Black">The Dubai College Blog</font></b></a></li>
      <li><button class="button" onclick="goBack()"><i class="fi-arrow-left"></i> Back</button></li>
    </ul>
  </div>
</div>
</div>

<br>

<div class="row medium-8 large-7 columns" name="post">



{% if request.user.is_authenticated %}
<div style="float: right;">
<ul class="dropdown menu" data-dropdown-menu>
  <li>
<button class="hollow button secondary"><i class="fi-widget"></i></button>
    <ul class="menu">
      <li><a href="{{ instance.edit_post }}">Edit Post</a></li>
      <li><a data-open="exampleModal1">Delete Post</a></li>

    </ul>
  </li>
</ul>

<div class="reveal" id="exampleModal1" data-reveal>
  <h1>Delete {{ instance.post_title }}?</h1>
  <hr>
  <p class="lead">Are you sure you want to delete "{{ instance.post_title }}"?</p>
    <a href="{{ instance.delete_post }}" class="button alert">Delete Post</a>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>
{% endif %}

      <div class="blog-post" style="color: dimgrey;">
        <h3 style="color: black;">{{ instance.post_title }}<small> {{ instance.post_date }}</small></h3>

        <hr>
        {% if instance.post_image %}
        <div style="margin: auto; text-align: center;">
        <img class="thumbnail" style= "" src="{{ instance.post_image.url }}">
        </div>
        {% endif %}
        <p>{{ instance.post_content|linebreaks }}</p>
          
        {% if instance.post_author.get_full_name %}        
        <div class="callout">
          <ul class="menu simple">
            <li>Written By: {{ instance.post_author.get_full_name }}</li>

          </ul>
        </div>
        {% endif %}
        </div>
</div>
<br>
<br>
</div>

<script>
function goBack() {
    window.history.back();
}
</script>


{% endblock content %}